@import 'tailwindcss';
@import 'tw-animate-css';

body {
  font-family: Arial, Helvetica, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-background2: var(--background2);
  --color-background3: var(--background3);
  --color-borderColor: var(--borderColor);
  --color-foreground: var(--foreground);
  --color-foreground2: var(--foreground2);
  --color-foreground3: var(--foreground3);
  --color-foreground4: var(--foreground4);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-custom1: var(--custom1);
  --color-custom2: var(--custom2);
  --color-custom3: var(--custom3);
  --color-custom4: var(--custom4);
  --color-custom5: var(--custom5);
  --color-custom6: var(--custom6);
}

:root {
  --radius: 0.625rem;

  --background: oklch(98% 0.016 73.684);
  --background2: oklch(95.4% 0.038 75.164);
  --background3: oklch(90.1% 0.076 70.697);
  --borderColor: oklch(37% 0.013 285.805);
  --foreground: oklch(21.6% 0.006 56.043);
  --foreground2: oklch(26.8% 0.007 34.298);
  --foreground3: oklch(55.3% 0.013 58.071);
  --foreground4: oklch(70.9% 0.01 56.259);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --sidebar-border: oklch(37% 0.013 285.805 / 30%);
  --sidebar-accent: oklch(37% 0.013 285.805 / 30%);
  --sidebar-ring: oklch(37% 0.013 285.805 / 30%);
  --custom1: oklch(89.7% 0.196 126.665); /* green */
  --custom2: oklch(70.7% 0.165 254.624); /* red */
  --custom3: oklch(74% 0.238 322.16); /* blue */
  --custom4: oklch(85.2% 0.199 91.936); /* yellow */
  --custom5: oklch(70.4% 0.191 22.216); /* purple */
  --custom6: oklch(25.7% 0.09 281.288); /* orange */
}

.dark {
  --background: oklch(27.4% 0.006 286.033);
  --background2: oklch(21% 0.006 285.885);
  --background3: oklch(14.1% 0.005 285.823);
  --borderColor: oklch(37% 0.013 285.805);
  --foreground: oklch(0.985 0 0);
  --foreground2: oklch(86.9% 0.022 252.894);
  --foreground3: oklch(44.2% 0.017 285.786);
  --foreground4: oklch(55.3% 0.013 58.071);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(14.1% 0.005 285.823);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --sidebar-border: oklch(0.922 0 0 / 20%);
  --sidebar-accent: oklch(0.922 0 0 / 20%);
  --sidebar-ring: oklch(0.922 0 0 / 20%);
}

@layer base {
  * {
    @apply border-border;
  }
}

body {
  color: var(--foreground);
}

.bg-dotted {
  background-image: radial-gradient(rgba(65, 65, 65, 0.808) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  background-color: var(--background2);
}

.ProseMirror {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  code {
    background-color: var(--background3) !important;
    border-radius: 0.4rem;
    color: var(--foreground2) !important;
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: black !important;
    border-radius: 0.5rem;
    color: var(--foreground);
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--background3);
    margin: 1.5rem 0;
    padding-left: 1rem;
    border-color: var(--background2) !important;
  }

  hr {
    border: none;
    border-top: 1px solid var(--background3);
    margin: 2rem 0;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

.react-colorful {
  width: 100% !important;
}
